@import 'tailwindcss';
@plugin '@tailwindcss/typography';

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	scroll-behavior: smooth;
	--ink: #1a202c;
	--paper: #fdf9f7;
	--lavender: #be9dca;
	--pink: #f4b7c7;
	--orange: #fca46d;
}

/* Permet de cliquer sur le background 3D même si le contenu est au-dessus */
main,
.Home p,
.Home span,
footer,
footer h6,
footer span {
	pointer-events: none;
}

/* Réactive les interactions sur les éléments réellement cliquables */
main button,
main a,
main [data-interactive='true'],
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
footer a,
footer .buttonEffect {
	pointer-events: auto;
}
